html {
    margin: 0;
    padding: 0;
}

body {
   
    background-repeat: none;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    padding: 0 auto;
    
    
}
.content {
    margin: 0 auto;
    padding: 0 auto;
}

/*Header Starts here-> */
.header {
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #CABBB7;
    color: black;
    text-align: center;
    height: 150px;
    z-index: 0;
    clear: both;
    display: table;
    content: "";
    
}


.header h4 {
    
    text-align: center;
    margin-top:70px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}


#hleft, #hright {
    text-align: center;
    width: 49%;
    height: 100%;
    float: left;
}




#logo {
    display: inline-block;
    text-align: center;
    width: 60%;
    height: auto;
    padding-top: 15px;
    z-index: 1;
    margin-right: auto;
    margin-left: auto;
}

/*Header ENDS */


/*Navigation bar starts here-> */
.navbar {
    
    
    background-color: #C65252 ;
    width: 100%;
    right: 0;
    height: 60px ;
    margin: 0;
    padding: 0;
}
#navleft, #navright {
    display: inline-block;
    width: 49%;
    height: 100%;
    
}

ul {
    list-style-type: none;
    overflow: hidden;
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    z-index: 1;

   
}

li {
    float: left;
    width: 19%;
    padding: 5px;
    word-wrap: none;
    
}

li a {
    display: block;
    text-decoration: none;
    color: #F0EBEB;
    font-weight: 550;
    padding: 14px 16px;
    word-wrap: none;
    font-family:Arial, Helvetica, sans-serif;
    
}



/* Navigation bar ENDS here */

/* Contents starts here -> */
.content {
    text-align: center;
    margin-bottom: 2%;
    
}

#contactfield {
    padding: 10px;
}

input {
    padding-top: 5px;
    margin-top: 20px;
}

#text1 {
    width: 250px;
    height: 250px;
    text-align: left;
}

#btn {
    margin-top: 15px;
    width: 100px;
}
/* Contants END HERE */


/*FOOTER STARTS HERE */


.footer {
    display: block;
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #CABBB7;
    color: white;
    text-align: center;
    height: 50px;
    clear: both;
    display: table;
    content: "";
    resize: none;
  }

#logo2 {
   float: center;
    width: 15%;
    padding-top: 5px;
   
    text-align: center;
}


.footer h5 {
float: center;
padding-left: 25%;
width: 50%;
color: black;
text-align: center;
font-weight: 500;
}    
    
/*Footer ends here*/